@import "tailwindcss";

@theme {
    --color-primary-50: #ecfdf5;
    --color-primary-100: #d1fae5;
    --color-primary-400: #34d399;
    --color-primary-500: #10b981;
    --color-primary-600: #059669;
    --color-primary-700: #047857;

    --color-secondary-100: #f3e8ff;
    --color-secondary-400: #c084fc;
    --color-secondary-500: #a855f7;
    --color-secondary-600: #9333ea;

    --color-accent-400: #facc15;
    --color-accent-500: #eab308;

    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;

    --height-125: 31.25rem;
    --height-150: 37.5rem;
}